 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

 :root{
    --main-color: #e84242;
    --black-color: #0e0e0e;  
 }

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}


/* base html codes */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    background-color: #fff;
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: #ccc;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--black-color);
    border-radius: 3rem;
}

body{
    background-color: var(--main-color);
}

a{
    color: var(--black-color);
}

.btn{
    background-color: #0e0e0e;
    color: #fff;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    opacity: .9;
}

section{
    padding: 3.5rem 7%;
}

.search-input{
    color: var(--black-color);
    border-radius: 3rem;
    font-size: 1.6rem;
    text-transform: none;
    padding: 1rem 2rem;

}

 .heading{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.heading span{
    text-transform: uppercase;
    color: #000;
}


/*! header start */
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    display: flex;
    align-items: center;
    width: 50rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scaleY(0);
}

.header .search-form.active{
    transform: scaleY(1);
}


.header .search-form i{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
}


.header .search-form .search-input{
    width: 100%;
}


.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 2rem;
    z-index: 1000;    /* her zamn önde olsun */
}

.header img{
    height: 10rem;
}

.header .navbar a{
    font-size: 1.6rem;
    margin: 0 1rem;
    color: var(--black-color);
    border-bottom: .3rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: .5rem;
}

.header .buttons button{
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

.card-items-container{
    position: absolute;
    top: 95%;
    width: 35rem;
    background-color: #fff;
    height: calc(100vh - 9rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    right: 7rem;
    right: -100%;
}

.card-items-container.active{
    right: 3rem;
}

.card-items-container .card-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    cursor: pointer;
    color: var(--black-color);
}


.card-items-container .card-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-items-container .card-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    
}

.card-items-container .card-item img{
    height: 7rem;
}

.card-items-container .card-item .content h3{
    font-size: 2rem;
    color: var(--black-color);
    padding-bottom: .5rem;
}

.card-items-container .card-item .content .price{
    font-size: 1.5rem;
    color: var(--black-color);
}

.card-items-container .btn{
    width: 100%;
    text-align: center;
    border-radius: unset;
}


#menu-btn{
    display: none;
}
/*! header end */

/*! home start */
.home{
    height: 100vh;
    background: url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}


.home .content h3{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ccc;
}
/*! home end */


/*! menu start */
    .menu .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        gap: 1.5rem;
    }

    .menu .box-container .box{
        background-color: #fff;
        padding: 3rem;
        border-radius: 3rem;
        min-height: 60rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .menu .box-container .box img{
        width: 100%;
        object-fit: cover;
    }

    .menu .box-container .box h3{
        font-size: 3rem;
        padding: 1rem 0;
    }

    .menu .box-container .box .price{
        font-size: 2.5rem;
        padding: 0.5rem 0;
    }

    .menu .box-container .box .price span{
        font-size: 1.5rem;
        text-decoration: line-through;
        font-weight: 300;
    }
/*! menu end */



/*! products start */
    .products .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(3rem,1fr));
        gap: 1.5rem;
    }

    .products .box-container .box{
        background-color: #fff;
        border-radius: 3rem;
        position: relative;
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;
        text-align: center;
    }

    .products .box-container .box .box-head{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        z-index: 10;
    }

    .products .box-container .box .box-head .title{
        font-size: 1.4rem;
    }

    .products .box-container .box .box-head .name{
        font-size: 4rem;
        font-weight: bold;
        text-align: start;
        overflow-wrap: anywhere;
    }

    .products .box-container .dark-bg .title,
    .products .box-container .dark-bg .name{
        color: #fff;
    }

    .products .box-container .box img{
        position: absolute;
        border-radius: 3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
        width: 100%;
    }

    .products .box-container .dark-bg img{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: unset;
    }

    .products .box-container .box-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .products .box-container .box-bottom .info{
        display: flex;
        flex-direction: column;
    }

    .products .box-container .box-bottom .info .price{
        font-size: 3rem;
    }

    .products .box-container .box-bottom .info .amount{
        font-size: 1.4rem;
    }

    .products .box-container .dark-bg .box-bottom .info .price,
    .products .box-container .dark-bg .box-bottom .amount{
        color: #fff;
    }

    .products .box-container .box-bottom .product-btn a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        border: 0.2rem solid var(--main-color);
    }

    .products .box-container .box-bottom .product-btn a i{
        font-size: 1.5rem;
        color: var(--main-color);
    }
/*! products end */


/*! about start */
    .about .row{
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    .about .row .image{
        flex: 1 1 45rem;
    }
    .about .row .image img{
        width: 100%;
    }

    .about .row .content{
        flex: 1 1 45rem;
    }

    .about .row .content h3{
        color: #fff;
        font-size: 3rem;
    }

    .about .row .content p{
        font-size: 1.6rem;
        color: #ccc;
        padding: 1rem 0;
        line-height: 2rem;
    }
/*! about end */

/*! review start */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    background-color: #fff;
    text-align: center;
    border-radius: 3.5rem;
    padding: 3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 2rem 0;
}

.review .box-container .box .user{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    font-size: 2rem;
    color: var(--main-color);
    padding: 1rem 0;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: gold;
}
/*! review end */



/*! contact us start */
    .contact .row{
        display: flex;
        background-color: #000;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .contact .map{
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
    }
    .contact form{
        flex: 1 1 45rem;
        width: 100%;
        text-align: center;
        padding: 5rem 2rem;
    }
   
    .contact h3{
        font-size: 3.5rem;
        color: #fff;
        text-transform: uppercase;
    }

    .contact .row form .inputBox{
        display: flex;
        margin: 2rem 0;
        align-items: center;
    }

    .contact .row form .inputBox i{
         color: #fff;
         font-size: 2rem ;
         padding-left: 2rem;
    }

    .contact .row form .inputBox input{
        width: 100%;
        padding: 2rem;
        font-size: 1.7rem;
        color: #fff;
        text-transform: none;
        background-color: transparent;
    }

    .contact .row form .btn{
        color: var(--main-color);
        background-color: #fff;
    }
/*! contact us end */
    
    

/*! blog start */
    .blog .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        gap: 1rem;
    }

    .blog .box-container .box{
        background-color: #fff;
        border-radius: 3rem;
    }

    .blog .box-container .box .image{
        height: 30rem;
        overflow: hidden;
        width: 100%;
        border-top-right-radius: 3rem;
        border-top-left-radius: 3rem;
    }

    .blog .box-container .box .image img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .blog .box-container .box:hover .image img{
        transform: scale(1.2);
    }

    .blog .box-container .box .content .title{
        font-size: 2rem;
        line-height: 1.7;
    }

    .blog .box-container .box .content{
        padding: 2rem;
    }

    .blog .box-container .box .content .title{
        font-size: 2rem;
        line-height: 1.7;
    }

    .blog .box-container .box .content span{
        display: block;
        font-size: 1.5rem;
    }

    .blog .box-container .box .content p{
        font-size: 1.6rem;
        line-height: 1.8;
        padding: 1rem 0;
        color: #ccc;
    }

/*! blog end */


/*! footer start */
    .footer{
        background-color: var(--black-color);
        text-align: center;
    }

    .footer .search .search-input{
        width: 30rem;
    }

    .footer .search .btn-primary{
        background-color: var(--main-color);
        padding: 1rem 2rem;
        margin-left: 1rem;
    }

    .footer .share{
        padding: 2rem 1rem;
    }

    .footer .share a{
        color: #fff;
        width: 5rem;
        height: 5rem;
        font-size: 4rem;
        margin: 0.3rem;
        line-height: 1.8;
        margin: 0 2rem;
    }

    .footer .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .footer .links a{
        background-color: var(--main-color);
        padding: 0.7rem 2rem;
        font-size: 2rem;
        color: #fff;
        border-radius: 3rem;
    }

    .footer .links a:hover{
        background-color: var(--black-color);
        opacity: .7;
    }

    .footer .credit{
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        margin-top: 2rem;
    }

    .footer .credit span{
        color: #e84242;
    }
/*! footer end */



/*! responsive start */
    @media (max-width: 991px){
       html{
        font-size: 55%;
       }

       .header{
        padding: 1.5rem 2rem;
       }

       .header .logo img{
        height: 7rem;
       }

       section{
        padding: 2rem;
       }

       .products .box-container .box .box-head .name{
        font-size: 3rem;
       }
    }

    @media (max-width: 768px){
        #menu-btn{
            display: inline-block;
        }

        .header .navbar{
            position: absolute;
            top: 95%;
            width: 30rem;
            background-color: #fff;
            height: calc(100vh - 10rem);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            right: -100%;
        }

        .header .navbar.active{
            right: 3rem;
        }

        .header .navbar a{
            color: var(--black-color);
            display: block;
            margin: 1.5rem;
            padding: .5rem;
            font-size: 2rem;
        }
    }
/*! responsive end */



